* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body{
  height: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/media/login-bg.jpg");
}

.login-form{
  float: right;
  height: 100%;
  width: 35%;
  position: relative;
  background-color: white;
  border-top: 6px solid #6A74C9;
}

#form{
  padding: 0 40px 0 40px;
}

.form-horizontal .form-group{
  margin: 0 !important;
}
