html,body{
    height: 100%;
}

body{
    background-color: #EAEAEA;
}

.side-bar{
    background-color: #FFFFFF;
}

.menu_icon{
    width: 24px;
    height: 24px;
    background-color: lightgreen;
    overflow: hidden;
}